table.dataTable {
    margin-top: unset !important;
    margin-bottom: unset !important;
}

.user-panel .image img {
    width: 2.1rem;
    height: 2.1rem;
    max-width: 2.1rem;
    object-fit: cover;
}

.brand-link img {
    max-width: 80px;
    height: auto;
}

body, h1, h2, h4 {
    font-family: 'Tajawal', serif !important;
}

.text-sm .select2-container--default .select2-selection--single,
select.form-control-sm ~ .select2-container--default .select2-selection--single {
    height: calc(2.3rem + 2px);
}

[class*="bootstrap-switch"] {
    direction: ltr;
}

[class*=sidebar-dark-] {
    background-color: #0c151e !important;
}

.btn-info {
    color: #fff;
    background-color: #fa8051;
    border-color: #f95210;
}

.file__image {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 250px;
    width: 100%;
    border-radius: 4px;
    overflow: auto;
    box-sizing: border-box;
    transition: all .2s ease;
    /*background-size: contain !important;*/
    background: #fff url('/assets/image_placeholder.png') no-repeat 50%;
}

.form-control {
    height: auto;
}

.orange {
    color: orange
}

.center_flex {
    display: flex;
    justify-content: center;
}

.check_box_toggler {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
}


.check_box_toggler:after {
    content: '';
    width: 60px;
    height: 26px;
    display: inline-block;
    background: rgba(196, 195, 195, 0.55);
    border-radius: 18px;
    clear: both;
}


.check_box_toggler:before {
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.check_box_toggler:checked:before {
    left: 32px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}


.check_box_toggler:checked:after {
    background: #0cc40c;
}

.check_box_toggler,
.check_box_toggler:before,
.check_box_toggler:after,
.check_box_toggler:checked:before,
.check_box_toggler:checked:after {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
}

.form-group.required > label::after {
    content: "*";
    color: #f00;
}

.loaderStats {
    background: #eee;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1111;
    opacity: 0.8;
    text-align: center;
    display: none;
}

.loaderStats img {
    margin-top: 25%;
    width: 50px;
}

@media only screen and (max-width: 767px) {
    .loaderStats img {
        margin-top: 60%;
    }
}
