@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    src: url(Tajawal-Bold.ttf) format('woff2');
}


body, h1, h2, h4, span, input {
    font-family: 'Tajawal', serif !important;
}


/* Show the menu button on mobile */
.menu-toggle-btn {
    display: none;
}

/* Show the button only on mobile */
@media (max-width: 768px) {
    .menu-toggle-btn {
        display: block;
        background: transparent;
        border: none;
        color: #333;
        font-size: 18px;
        cursor: pointer;
        padding: 10px;
    }

    #settings-menu-list {
        display: none; /* Initially hidden */
    }

    .settings-menu.active #settings-menu-list {
        display: block;

    }
}

/* For larger screens, always show the menu */
@media (min-width: 769px) {
    #settings-menu-list {
        display: block;
    }

    .menu-toggle-btn {
        display: none;
    }
}
